<div class="container-slider">
<!-- Home Page -->
  <div class="slider">
    <div class="first-title">
     <h1>DÉVELOPPEUSE</h1>
      <%# <h1>Développeuse</h1> %>
    </div>
    <div class="second-title">
     <H1>WEB FULLSTACK</H1>
      <%# <h1>Web Fullstack</h1> %>
    </div>
    <div class="name">
      <p>Lydia Soula</p>
    </div>
  </div>
<!-- Pourquoi moi ?  -->
  <div class="slider">
    <div class="slider-two-title">
      <h1>Pourquoi me faire confiance ?</h1>
    </div>
    <div class="paragraphe-style">
      <div class="row">
        <h5>1</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa aut minima eum recusandae eos porro unde repellat nisi. Consequuntur ab excepturi quidem nostrum accusamus minima accusantium exercitationem sapiente reiciendis voluptatum?</p>
      </div>
      <div class="row">
        <h5>2</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste labore nemo! Pariatur suscipit reiciendis, quaerat fugit, obcaecati ut quae dolorum ad modi natus veritatis aut reprehenderit dolor nulla nisi.</p>
      </div>
      <div class="row">
        <h5>3</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident a quo voluptatibus necessitatibus ducimus? Ducimus praesentium delectus, vel ipsum aut, nam corrupti commodi earum, saepe ea neque repudiandae nihil a!</p>
      </div>
    </div>
  </div>
<!-- Mes réalisations  -->
  <div class="slider">
  <div class="portfolio-title">
    <h1>Mes réalisations</h1>
  </div>
  <div class="project-description">
    <h4>Cosmos</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem quis dolorum quae inventore eos. Assumenda sint magni dolor enim vero exercitationem dolorum eos necessitatibus fuga illo, ipsam officiis eligendi delectus?
    </p>
  </div>
  <div class="m-5 carousel">
    <p>ici bientôt js </p>
  </div>
  <div class="button">
    <%= link_to 'Visiter le siteweb','https://cosmos-camillervr.herokuapp.com/', target: "_blank" , class: 'btn-project'%>
  </div>
  </div>
<!-- ...  -->
  <div class="slider">
    <div class="portfolio-title">
      <h1>. . .</h1>
     </div>
    <div class="project-description">
      <h4>Flipee</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem quis dolorum quae inventore eos. Assumenda sint magni dolor enim vero exercitationem dolorum eos necessitatibus fuga illo, ipsam officiis eligendi delectus?
      </p>
    </div>
   <div class="m-5 carousel">
    <p>ici bientôt js </p>
    </div>
    <div class="button">
    <%= link_to 'Visiter le siteweb','#', target: "_blank" , class: 'btn-project'%>
    </div>
  </div>
  <!-- A propos de moi  -->
  <div class="slider">
    <div class="portfolio-title">
      <h1>A propos de moi</h1>
    </div>
    <div class='apropos-flexbox'>
      <div class="pictures">
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1665003581/Portfolio/LeWagon_DDay_560_561_by_BenoitBillard-106_WEB_3_uqkjhx.jpg", class:'image-profil') %>
      </div>
      <div class="apropos-text">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem quis dolorum quae inventore eos. Assumenda sint magni dolor enim vero exercitationem dolorum eos necessitatibus fuga illo, ipsam officiis eligendi delectus?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A maiores ullam doloribus nemo neque porro asperiores delectus placeat sint alias. Laboriosam deserunt natus tenetur quam accusantium? Voluptas commodi consequatur dolores.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident magnam cupiditate, minus eius non labore delectus hic in perspiciatis quas quibusdam dicta mollitia cum quaerat. Ipsum harum quidem non a?</p>
      </div>
    </div>
  </div>
<!-- Form  -->
  <div class="slider">
    <div class="portfolio-title">
      <h1>Demande de devis</h1>
    </div>
    <div class="box-form">
      <form action="https://formsubmit.co/lydiasoula@outlook.com" method="POST">
        <div class="">
          <label for="name" class="label-margin">Ton nom et/ou prénom</label>
          <input class="input-box" type="text" name="name" placeholder="Mark Zuckenberg" required>
        </div>
        <div class="">
          <label for="email" class="label-margin">Ton adresse e-mail</label>
          <input class="input-box" type="email" name="email" placeholder= "marcky@fb.com" required>
        </div>
        <div class="">
          <label for="societe"class="label-margin" >Le nom de ta société, organisation ect</label>
          <input class="input-box" type="societe " name="societe" placeholder="Facebook">
        </div>
        <div class="">
          <label for="subject"class="label-margin" >Dit moi en plus sur ton projet !</label>
          <input class="input-box" type="subject" name="subject" placeholder="Automatisation de mes messages messenger dans le cadre..." required>
        </div>
        <button type="submit" class="btn-form">A très vite</button>
      </form>
    </div>
  </div>
<!-- Contact  -->
  <div class="slider">
    <div class="portfolio-title">
      <h1>Contact</h1>
    </div>
    <div class="number-git d-flex">
      <div class="number">
        <i class="ti ti-phone-call"></i> 07 60 04 40 85
      </div>
      <div class="git">
        <i class="ti ti-brand-github"></i>
        <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
          Lydiasou/git
        <% end %>
      </div>
    </div>
    <div class="mail-link d-flex">
      <div class="mail">
        <i class="ti ti-at"></i>
        <%= mail_to "lydiasoula@outlook.com", target: 'blank' %>
      </div>
      <div class="link">
        <i class="ti ti-brand-linkedin"></i>
        <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
          Lydiasoula/linkedin
        <% end %>
      </div>
    </div>
    <div class="row-bye">
      <h1>Bye ! </h1>
    </div>
  </div>
</div>
